.myInline {
  display: inline;
}
/* Style the search field */
form.example input[type="text"] {
  padding: 10px;
  font-size: 15px;
  color: #a0a4a8;
  border: 1px solid #e9f0ff;
  float: left;
  width: 30%;
  background: #ffffff;
  margin-left: 5%;
  /* border-color: #e9f0ff; */
}

/* Style the submit button */
form.example button {
  float: left;
  /* width: 20%; */
  padding: 10px;
  background: #ffffff;
  color: #a0a4a8;
  font-size: 18px;
  border: 1px solid #e9f0ff;
  border-left: none;
  cursor: pointer;
  margin-top: 10px;
}

form.example button:hover {
  background: #336cfb;
  color: #ffffff;
}

/* Clear floats */
/* form.example::after {
  content: "";
  clear: both;
  display: table;
} */
