.appointment {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.5px;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  box-shadow: -5px 5px 5px 1px rgba(226, 222, 222, 0.75);
}

.text1 {
  font-size: 20px;
}

.text2 {
  font-size: 16px;
  color: #a0a4a8;
}

.appointmentStatus {
  border-radius: 6px;
  width: 15%;
  height: 50%;
  font-size: 12px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

hr {
  width: 62%;
  margin-left: 10px;
  color: black;
  border-left: 20px;
}

.appTime {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 21px;
  color: #cacccf;
  margin-left: 15px;
  margin-right: 15px;
}
.customContainer {
  width: 50%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.isCurrently .appointment {
  background-color: #336cfb;
}
.isCurrently .appTime {
  color: black;
}

.isAppointed {
  background-color: #fac032;
}

.isCanceled {
  background-color: #e74f48;
}

.isFinished {
  background-color: #336cfb;
}
