.customIcon {
  width: 18px;
  padding-right: 10px;
  padding-left: 6px;
}

li {
  list-style-type: none;
  padding: 14px 10px;
}

.active-link {
  color: #336cfb;
}

.active-link,
.active-link .customIcon {
  color: #336cfb;
}

.divider {
  width: 100%;
  border: 1px solid #a0a4a8;
  margin-top: 15px;
}

.nav-item {
  margin: 15px 0px;
  width: 100% !important;
}

.link-text {
  font-size: 16px;
  color: #a0a4a8;
  font-weight: 700;
}
